@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300;500&family=IBM+Plex+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 5rem;
    padding: 2.5625rem 4.375rem;
}

.espacio {
    height: 4.5rem;
}

.header_image {
    width: 36px;
}


.header_navbar_container_desktop {
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 50%;
}

.menumobile {
    display: none;
}

.header_navbar_list {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-family: 'IBM Plex Mono', monospace;
    color: #060A24;
    font-weight: 400;
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    color: #060A24;
    cursor: pointer;
}

li:hover {
    color: #00F3BB;
    text-decoration: line-through;
    transition: all 0.3s ease;
}

.title {
    width: 100%;
    height: auto;
    padding-left: 12.5rem;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #060A24;
    font-weight: 500;
    font-size: 4rem;
    letter-spacing: 0;
}

.dot_blue {
    color: #0000EC;
}

.subtitle {

    padding-left: 200px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: 0;
    color: #060A24;
    display: block;
    line-height: 1.8rem;
    width: 60%
}

.button_conocemas {
    background: linear-gradient(225deg, #00F0B8, #00F0B8);
    border: none;
    width: 14.125rem;
    height: 3.5rem;
    font-family: 'IBM Plex Mono', monospace;
    color: #060A24;
    font-weight: 600;
    font-size: 1.125rem;
    margin-top: 3.5rem;
    margin-left: 12.5rem;
}

.button_conocemas:hover {
    background: linear-gradient(225deg, #0000FE, #00F0B8);
    color: #ffffff;
    transition: all 0.3s ease;
    cursor: pointer;
}

.cards_episodes_container {
    width: 100vw;
    height: 65.125rem;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0% 100%);
    position: relative;
}

.cards_episodes_title {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 3rem;
    font-weight: 500;
    position: absolute;
    top: 13.125rem;
    left: 12.5rem;
    color: white;
}

.cards_episodes_group {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    top: 17.75rem;
    align-content: center;
}


.cards_episode_single {
    width: 40%;
    cursor: pointer;
    margin: 2.25rem;
}

.container_dedondevenimos {
    width: 100%;
    height: 41.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: relative;
    top: -5rem;
    margin-bottom: -5%;
}

.dedondevenimos_image {
    height: 41.25rem;
    width: auto;
    position: relative;
    top: -5%;
}

.dedondevenimos_title {

    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 3rem;
    font-weight: 500;
    width: 29rem;
    height: 5.625rem;
    position: relative;
    left: 20%;
}

.dedondevenimos_paragraph {

    width: 29rem;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 300;
    font-size: 1rem;
    color: #060A24;
    line-height: 1.5rem;
    position: relative;
    left: 20%;
}

.container_invitados-estelares {
    width: 100vw;
}

.invitados_title {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 3rem;
    font-weight: 500;
    color: #060A24;
    margin: 0rem 0 2.25rem 12.5rem;
}

.container_invitados-estelares_images {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.container_invitados-estelares_images_png {
    width: 33.3%;
    vertical-align: middle;
    object-fit: cover;
}

.container_nuestros-temas_general {
    height: auto;
}

.nuestros-temas_title {
    font-family: 'IBM Plex Sans', sans-serif;
    color: #060A24;
    font-size: 3rem;
    font-weight: 500;
    margin: 4rem 0px 4.3125rem 12.5rem;
}

.container_nuestros-temas_icons {
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.5rem;
}

.container_nuestros-temas_icon {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 0;
    color: #060A24;
    width: 20%;
}

.nuestros-temas_icon {
    width: auto;
    height: 6.5rem;
    margin-bottom: 1.8125rem;
}

.nuestros-temas_text {
    text-align: center;
    width: 50%;
}

.container_novedades {
    height: 32.375rem;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    clip-path: polygon(0 27%, 100% 0%, 100% 100%, 0 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.novedades_title {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    font-size: 3rem;
    color: #FFFFFF;
    text-align: center;
    padding-top: 13.3125rem;
}

.novedades_btn {
    background: linear-gradient(225deg, #00F0B8, #00F0B8);
    border: none;
    width: 21.5625rem;
    height: 3.5rem;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;
    font-size: 1.125rem;
    margin: 3.5rem 0 4.1875rem 0;
}

.novedades_btn:hover {
    background: linear-gradient(225deg, #0000FE, #00F0B8);
    color: #ffffff;
    transition: all 0.3s ease;
    cursor: pointer;
}

.container_footer {

    height: 5.9375rem;
    font-family: 'IBM Plex Mono', monospace;
    color: #060A24;
    letter-spacing: 0;
    font-size: 1rem;
    line-height: 1.75rem;
    display: flex;
    justify-content: space-between;
    padding: 0 6.25rem;
    align-items: center;
}

.footer_icons_group {
    width: 14.625rem;
    display: flex;
    justify-content: space-between;
}

.footer_icon {
    width: 1.125rem;
    height: auto;
    color: #060A24;
}

.footer_icon:hover {
    cursor: pointer;
    font-size: 1.5625rem;
    color: #00F0B8;
    transition: all 0.3s ease;
}


@media (min-width: 200px) and (max-width:768px) {

    :root {
        font-size: 14px;
    }

    .header_image_mobile {
        display: none;
    }


    .menumobile ul li {
        width: 100vw;
        padding-left: 10px;
        line-height: 40px;
        background-color: #0000FF;
        color: white;
        font-family: 'IBM Plex Mono', monospace;
        font-size: 1rem;
    }


    .menumobile ul {
        position: fixed;
        top: 60px;
        left: 0;
        transition: all 0.8s ease;
        transform: translateX(100vw);
        list-style-type: none;
    }

    .icon-menu {
        display: flex;
        justify-content: space-between;
    }

    .input-label {
        width: 50px;
        margin-right: -35px;
    }


    #burger-button {
        visibility: hidden;
        background-color: white;
    }

    #burger-button:checked~ul {
        transform: translateX(0);
    }


    .line {
        width: 18px;
        height: 2px;
        border-radius: 2px;
        background-color: black;
        transition: all 0.1s linear;
        margin-bottom: 4px;
        transform-origin: left;
    }

    #burger-button:checked+label .line-top {
        transform: rotate(45deg);
    }

    #burger-button:checked+label .line-middle {
        background-color: white;
    }

    #burger-button:checked+label .line-low {
        transform: rotate(-45deg);
    }


    .menu-button {
        color: white;
        text-decoration: none;
    }

    .menumobile {
        display: block;
    }

    .menumobile ul {
        left: 0;
    }


    .title {
        padding-left: 0;
        margin: 0 1.1428571rem 0.51142857rem;
        width: 70%;
        font-size: 2.57142857rem;
        line-height: 3rem;
    }


    .subtitle {
        width: 100%;
        padding: 5%;
        font-size: 1rem;
        display: block;
        line-height: 1.3rem;
    }

    .espacio {
        display: none;
    }

    .header_navbar_container_desktop {
        display: none;
    }

    .header_image {
        width: 24px;
        height: auto;
        position: relative;
        right: 6%;

    }

    .header_container {
        width: 100vw;
        padding: 10%;
    }

    .button_conocemas {
        margin: 0;
        width: 90%;
        margin: 4% 5% 4% 5%;
    }


    .cards_episodes_container {
        clip-path: polygon(0 4%, 100% 0%, 100% 96%, 0% 100%);
        height: 67.125rem;
    }



    .cards_episodes_title {
        font-size: 2.57142857rem;
        top: 4.28571429rem;
        left: 1.14285714rem;
    }

    .cards_episodes_group {
        top: 9rem;
    }

    .cards_episode_single {
        width: 80%;
        height: 13.5714rem;
        margin: -5px;
    }


    .container_dedondevenimos {
        flex-direction: column;
        margin-top: 13rem;
    }


    .dedondevenimos_image {
        align-items: center;
    }


    .dedondevenimos_title {
        font-size: 2.57142857rem;
        width: 50%;
        height: 6rem;
        left: 10%;
        line-height: 3rem;
    }

    .dedondevenimos_paragraph {
        width: 90%;
        font-size: 1rem;
        position: relative;
        align-content: center;
        left: 10%;
        margin-top: 2rem;
        display: block;
    }

    .invitados_title {
        margin: 10rem 0 2.25rem 1rem;
        font-size: 2.57142857rem;
        padding-top: 2.375rem;
        margin-left: 10%;
        width: 50%;
        line-height: 3rem;
    }


    .container_invitados-estelares_images {
        flex-direction: column;
        align-items: center;
    }


    .container_invitados-estelares_images_png {
        width: 100vw;
        margin: -1rem;
    }


    .nuestros-temas_title {
        margin: 4rem 0 0.25rem 1rem;
        font-size: 2.57142857rem;
        margin-left: 10%;
        width: 70%;
        line-height: 3rem;
    }

    .container_nuestros-temas_icons {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 1.5rem;
    }


    .container_nuestros-temas_icon {
        font-size: 1.7142857rem;
        color: #060A24;
        width: 100%;
    }


    .nuestros-temas_icon {
        margin-bottom: 4%;
        margin-top: 13%;
    }


    .nuestros-temas_text {
        text-align: center;
        width: 70%;
    }


    .container_novedades {
        height: 24.3571428571rem;
        background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
        clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
        margin-top: 10%;
    }


    .novedades_title {
        font-size: 2.57142857rem;
        text-align: center;
        padding-top: 15%;
        width: 50%;
    }


    .novedades_btn {
        height: 3.428571rem;
        font-size: 1.142857rem;
        margin: 8% 0 0 0;
    }


    .container_footer {
        display: flex;
        flex-direction: column;
        padding: 8% 8%;
        align-items: center;
        height: 8.642857rem;
    }
}